html {
  font-family: $font-primary;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  background-color: $bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color-base;
  line-height: normal;
  display: block;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

a {
  color: $font-color-base;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color:#000;
  background-color:#EAEAEA;
}

blockquote {
  border-left: .25rem solid #f2f2f2;
  color: #1b1b1b;
  margin: .8rem 0;
  padding: .5rem 1rem;
}

img {
  display: block;
  border: 0;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

#contents{
  padding: 15px;
}