body.home{
    overflow: hidden;
    position: relative;
}

table.home-wrap {
    border: none;
    position: absolute;
    @media screen and (min-width: 1060px){
        width: 800px;
        height: 700px;
        top: 50%;
        left: 50%;
        margin-left: -400px;
        margin-top: -350px;
    }
    @media screen and (max-width: 1060px){
        width: 800px;
        height: 700px;
        top: 50%;
        left: 50%;
        margin-left: -400px;
        margin-top: -350px;
    }
    
}

#menu-item{
    word-break:break-all;
    a{
        @media screen and (min-width: 1060px){
            font-size: 105px;
        }
        @media screen and (max-width: 1060px){
            font-size: 105px;
        }
    }
}

#home-logo{
    position: absolute;
    @media screen and (min-width: 1060px){
        top: 50%;
        left: 50%;
        margin-left: 144px;
        margin-top: 44px;
        width: 256px;
        height: 256px;
    }
    @media screen and (max-width: 1060px){
        top: 50%;
        left: 50%;
        margin-left: 144px;
        margin-top: 44px;
        width: 256px;
        height: 256px;
    }
}

