$home-width: 100px;

.home{
    height: 100%;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-flex-pack: center;
    justify-content: center;
}

.home-wrap {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    
    height: auto;
    
    @media all and (min-width: 1024px) {
        font-size: 2em;
    }
    @media all and (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.6em;
    }
    @media all and (max-width: 767px) {
        font-size: 1.1em;
    }
}
#home-logo{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    @media all and (min-width: 1024px) {
        max-width: 150px;
    }
    @media all and (min-width: 768px) and (max-width: 1024px) {
        max-width: 130px;
    }
    @media all and (max-width: 767px) {
        max-width: 90px;
        margin-bottom: 5px;
    }
}