#post-title{
    text-align: center;
}

#category-clicker{
    color:#000;
    background-color:#EAEAEA;
    
    padding: {
        right: 10px;
        left: 10px;
    }
    position: relative;
}
#category-clicker:hover, #category-clicker:focus, #category-clicker:active {
    color: #464646;
    background-color:#000;
}

div.post{
    font-family: $sans-serif;
    text-align: left;
}