// Colors
$bg-color: #f5f5f5 !default;
$default-color: #464646 !default;
$default-shade: #353535 !default;
$font-color-base: #121212;
$grey-1: #979797 !default;
$grey-2: #e5e5e5 !default;
$grey-3: #f9f9f9 !default;
$blue: #33ACFF !default;
// Fonts
$font-primary: 'Archivo Black', sans-serif !default;
$serif-secondary: Palatino, serif !default;
$sans-serif: Helvetica, Arial, sans-serif !default;
$monospaced: Menlo, Monaco, monospace !default;