// Colors
$bg-color: #000 !default;
$default-color: #EAEAEA !default;
$default-shade: #AAAAAA !default;
$font-color-base: #EAEAEA;
$grey-1: #464646 !default;
$grey-2: #343434 !default;
$grey-3: #FFF !default;
$blue: #33ACFF !default;
// Fonts
$font-primary: 'Archivo Black', sans-serif !default;
$sans-serif: 'Average Sans', sans-serif !default;
$monospaced: Menlo, Monaco, monospace !default;