// Colors
$bg-color: #f5f5f5 !default;
$font-color-base: #121212;
$blue: #33ACFF !default;
// Fonts
$font-primary: 'Average Sans', sans-serif !default;
//$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif !default;
//$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
//$monospaced: Menlo, Monaco, monospace !default;