.work-gallery{
    margin-left: -3%;
    margin-right: -3%;
    padding-top: 30px;
    .work-holder {
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        overflow-y: hidden;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    #itemimg1, #itemimg2, #itemimg3, #itemimg4 {
        height: 264px;
        width: 189px;
        margin: 30px;
        display: inline-block;
    }

    @media all and (min-width: 1030px) {
        #itemimg1, #itemimg2, #itemimg3, #itemimg4{
            display: inline-block;
        }
    }
    @media all and (min-width: 780px) and (max-width: 1029px) {
        #itemimg1, #itemimg2, #itemimg3{
            display: inline-block;
        }
        #itemimg4{
            display: none;
        }
    }
    @media all and (max-width: 779px) {
        #itemimg1{
            display: inline-block;
        }
        #itemimg4, #itemimg3, #itemimg2{
            display: none;
        }
    }

    a:hover .marquee {
        display: block;
    }

    .marquee {
        display: none;
        position: absolute;
        top: 30%;
        overflow: hidden;
        --offset: 20vw;
        --move-initial: calc(-25% + var(--offset));
        --move-final: calc(-50% + var(--offset));
        animation-play-state: running;
    }
    
    .marquee__inner {
        color: white;
        width: fit-content;
        display: flex;
        position: relative;
        transform: translate3d(var(--move-initial), 0, 0);
        animation: marquee 5s linear infinite;
        animation-play-state: paused;
        animation-play-state: running;
    }
    
    .marquee span {
        font-size: 4em;
        padding: 0 2vw;
    }
    
    .marquee:hover .marquee__inner {
        animation-play-state: running;
    }
    
    @keyframes marquee {
        0% {
            transform: translate3d(var(--move-initial), 0, 0);
        }
    
        100% {
            transform: translate3d(var(--move-final), 0, 0);
        }
    }
}

.work{
    color: white;
    padding-top: 30px;
    margin-left: -3%;
    margin-right: -3%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    img{
        height: 264px;
        width: 189px;
        z-index: 2;
    }
    .marquee-forwork {
        z-index: 1;
        top: 200px;
        position: absolute;
        overflow: default;
        --offset: 20vw;
        --move-initial: calc(-25% + var(--offset));
        --move-final: calc(-50% + var(--offset));
        animation-play-state: running;
    }
    
    .marquee__inner {
        width: fit-content;
        display: flex;
        position: relative;
        transform: translate3d(var(--move-initial), 0, 0);
        animation: marquee 5s linear infinite;
        animation-play-state: paused;
        animation-play-state: running;
    }

    .marquee-forwork span {
        font-size: 8em;
        padding: 0 2vw;
    }
    
    .marquee-forwork:hover .marquee__inner {
        animation-play-state: running;
    }

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.work-content{
    padding-left: 3%;
    padding-right: 3%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
