#work-imgs > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

#itemimg1, #itemimg2, #itemimg3, #itemimg4{
    margin: 40px;
    height: 264px;
    width: 189px;
}

div.img-holder{
    align-items: center;
    text-align: center;
    position: relative;
}

.work-gallery{
    overflow: hidden;
    .marquee {
        display: none;
    }
        
    a:hover .marquee {
        display: block;
    }
}

.marquee {
    position: absolute;
    top:100px;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    animation-play-state: running;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    animation-play-state: running;
}

.marquee span {
    font-size: 10vw;
    padding: 0 2vw;
}

.marquee:hover .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}