<!DOCTYPE html>
<html lang="ko">

  {% include head.html %}

  <body>
<div class="work">
  {% if page.thumbnail %}
      <img src="{{ page.thumbnail }}">
      <img src="{{ page.thumbnail }}">
      <img src="{{ page.thumbnail }}">
      <img src="{{ page.thumbnail }}">
  {% endif %}

  <div class="marquee">
	        <div class="marquee__inner" style="color:white;" aria-hidden="true">
		        <span>{{ page.title }}</span>
		        <span>{{ page.title }}</span>
		        <span>{{ page.title }}</span>
		        <span>{{ page.title }}</span>
	        </div>
  </div>

  <main id="contents">
      {{ content }}
  </main>

</div>

<div class="work-pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}
</div>

  </body>
</html>