---
layout: default
---

<h2><a id="category-clicker" href="{{ site.baseurl }}/{{ page.category }}">{{ page.category }}</a> > {{ page.title }}</h2>
<hr id="nav-line" />
  <div class="work">
    {% if page.thumbnail %}
      <img src="{{ page.thumbnail }}">
    {% endif %}

    <div class="marquee-forwork">
	    <div class="marquee__inner" aria-hidden="true">
        <span>{{ page.title }}</span>
        <span>{{ page.title }}</span>
		    <span>{{ page.title }}</span>
		    <span>{{ page.title }}</span>
	    </div>
    </div>
    
  <div class="post work-content">
    {{ content }}
  </div>

</div>

  <div class="work-pagination">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}
  </div>